<h2>All Subs</h2>
<a href="<%= new_sub_url %>" class="btn btn-sm btn-primary">Make New Sub</a>
<div class="list-group">
  <% @subs.each do |sub| %>
    <a href="<%= sub_url(sub) %>" class="list-group-item list-group-item-action"><%= sub.title %></a>
  <% end %>
</div>